extends layout

block content
  h1= title
  h2 ESTUDIANTE: LUIS ARTURO RODRIGUEZ
  h2 MATRICULA: 1-18-0858
  p PRIMER POD QUE CONTIENE LOS ALGORITMOS DE BUSQUEDA LINEAL Y POR SALTOS
  p 1) - PARA IR AL ALGORITMO DE BUSQUEDA LINEAL UTILICE LA DIRECCION: http://10.0.0.6:3000/linealSearch
  p 2) - PARA IR AL ALGORITMO DE BUSQUEDA POR SALTOS UTILICE LA DIRECCION: http://10.0.0.6:3000/jumpSearch
